<h2>Latest posts</h2>
<br>
<% @posts.each do |post| %>
	<p>
	 	<%= post.content %>
		<br>
		<br>
	 	Author: <%= post.author %>
		<br>
		<br>
	 	Added at <%= post.created_at %>
		<br>
		<br>
		<a href="/post/<%= post.id %>">Details and Comments</a> 
	</p>				
	<hr>
<% end %>