
<h1>Type Authorname and add new post</h1>

<form action="/new" method="POST">
	<textarea name="author" class="form-control" placeholder="Name" rows="6"></textarea>
	<br>
	<textarea name="content" class="form-control" placeholder="Type post text here" rows="6"></textarea>
	<br>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>